body {
  overflow-x: hidden;
}
.login-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-image: url(../../../images/photo-1551076805-e1869033e561.jfif);
  background-repeat: no-repeats;
  height: 100vh;
}
.login-container h2 {
  margin-top: 20%;
}
.login-feild {
  margin-top: 10%;
}
